@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

@theme {
  --font-sans: Arial, Helvetica, sans-serif;
  --color-slate-950: #020617;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}